body {
    padding: auto;
    background-color: rgb(7, 8, 43);
}

.container {
    margin-top: 30vh;
}

h5 {
    color: white;
    font-size: 30px;
}

i {
    color: rgb(61, 63, 124);
    font-size: 70px;
}

.counter {
    font-size: 50px;
    color: yellow;
    font-family: cursive;
}